

<html>

<head>
    <title>Cars Rental</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
    <section id="nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">                
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">  
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                     </a>               

                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
 

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">&nbsp;</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>       
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
        </svg>  <a class="nav-item" href="/cars">Cars </a>
       
    </div>
    <div class="dropdown mt-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
        <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg> <a class="nav-item" href="/cars">List Cars</a>
    </div>
  </div>
</div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">  
                 <div><h3>Add New Cars</h3></div>          
                    <div class="col-md-8 text-center mb-3">  
                       
                        <form method="post" action="/cars" enctype="multipart/form-data">
                            <div class="row g-3 mt-1">
                                <div class="col-4">
                                    <label for="nama" class="col-form-label">Nama</label>
                                </div>
                                <div class="col-4">
                                    <input type="text" name="nama" class="form-control" >
                                </div>                                 
                            </div>
                            <div class="row g-3 mt-1">
                                <div class="col-4">
                                    <label for="sewa" class="col-form-label">Sewa Perhari</label>
                                </div>
                                <div class="col-4">
                                    <input type="number" name="sewa" class="form-control" >
                                </div>                                 
                            </div> 
                                
                            <div class="row g-3 mt-1">
                                <div class="col-4">
                                    <label for="ukuran" class="col-form-label">Ukuran</label>
                                </div>
                                <div class="col-4">
                                    <select  class="form-select" name="ukuran">
                                            <option value="small">Small</option>
                                            <option value="medium">Medium</option>
                                            <option value="big">Big</option>
                                    </select>
                                </div>                                 
                            </div> 
                            <div class="row g-3 mt-1">
                                <div class="col-4">
                                    <label for="foto" class="col-form-label">Foto</label>
                                </div>
                                <div class="col-4">
                                    <input type="file" name="foto" class="form-control" >
                                </div>                                 
                            </div> 

                            <div class="row g-3 mt-3">
                                <div class="col-4">
                                    <button type="reset" class="btn btn-outline-primary btn-sm">Cancel</button>
                                    <button type="submit" class="btn btn-primary btn-sm">Save</button>                           
                                </div>
                               
                            </div> 
                             
                        </form>
                        
                    </div>                    
            </div>
        </div>
    </section>
</body>

</html>